<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="Costura.Fody" version="1.1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="1.22.1" targetFramework="net40" developmentDependency="true" />
  <package id="Google.Apis" version="1.8.0-rc" targetFramework="net40" />
  <package id="Google.Apis.Auth" version="1.8.0-rc" targetFramework="net40" />
  <package id="Google.Apis.Core" version="1.8.0-rc" targetFramework="net40" />
  <package id="Google.Apis.Drive.v2" version="1.8.0.1140-rc" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="net40" />
</packages>